.hex-select {
    position: relative;
    display: inline-block;
    padding: .75rem 0;
    cursor: pointer;

    &:after {
        content: '';
        width: .35rem;
        height: .35rem;
        display: block;
        position: absolute;
        inset: 50% 1rem auto auto;
        translate: 0 -75% 0;
        rotate: 0 0 1 45deg;
        border-right: .125rem solid #ddd;
        border-bottom: .125rem solid #ddd;
    }

    select,
    .custom-select {
        position: relative;
        appearance: none;
        background: #222;
        color: #ddd;
        font-family: inherit;
        height: 3.5rem;
        line-height: 3.5rem;
        outline: none;
        padding: 0 1.5rem;
        transition: all .35s ease-in-out;
        width: 250px;
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;
        box-sizing: border-box;
        border: 1px solid #222;
        border-radius: .35rem;
        cursor: pointer;
    }

    .select-options {
        position: absolute;
        inset: 100% 0 auto;
        display: flex;
        flex-direction: column;
        background: #222;
        border: 1px solid #444;
        border-radius: .35rem;
        list-style: none;
        padding: 0;
        margin: .75rem 0;
        translate: 0 1rem 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        max-height: 250px;
        overflow-y: auto;
        transition: .35s ease-in-out all;

        li {
            height: 3rem;
            line-height: 3rem;
            outline: none;
            padding: 0 1.5rem;
            text-transform: none;
            letter-spacing: .025rem;
            border-bottom: 1px solid #333;
            cursor: pointer;
            transition: .35s ease-in-out all;

            &:hover {
                background: #444;
            }
        }
    }

    &:hover {

        select,
        .custom-select {
            border-color: #444;
        }

        .select-options {
            translate: 0 0 0;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}

.inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    gap: 20px;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.white-wrapper {
    min-height: 50vh;
}